.filters {
    margin-top: $xl-size;
}

#favourite-filters-toggle { 
    flex-direction: column;
    background-color: $grey;
    height: 0; 
    margin-top: $s-size;
    transition: height 500ms ease-out;
    overflow: hidden;
    &.visible{
        height: 120px;
    }
}

.sortBy {
    margin-top: $l-size;
    label {
        margin-right: $s-size;
    }
}

@media only screen and (min-width: 700px) {
    .filters {
        display: flex;
        justify-content: flex-end;
    }
    .sortBy{
        height: 100%;
        margin-top: 0;
        select {
            height: 100%
        }
    }
}