.search-bar {
    padding: $s-size $l-size;
    width: 80%;
    font-size: $font-size-small;
}

.filters-title {
    font-size: $font-size-small;
    padding: $s-size $s-size;
}

@media only screen and (min-width: 700px) {
    .search-bar {
        width: 100%;
    }
    .filters-title {
        margin-right: $s-size;
    }
}