.btn {
    border: none;
    background: none;
    cursor: pointer;
    color: $white;
    font-size: $font-size-medium;
    font-family: 'Roboto';


}

.fav-btn {
    border: 1px solid $mid-grey;
    border-radius: 5px;
    padding-left: $m-size;
    padding-right: $m-size;
    margin: $l-size auto;
    p {
        margin-right: $s-size;
    }
}

.fav-btn-added {
    background: $red;
    color: $white;
}

.fav-btn-add {
    color: $light-grey;
    &:hover {
        border-color: $red;
        color: $white;
        text-shadow: 0px 0px 1px;
    }
}

.logout-btn {
    border: 1px solid $white;
    background-color: $white;
    color: $dark;
    font-weight: bold;
    font-size: $font-size-small;

}

.login-btn {
    color: $light-grey;
}

.pagination-btn {
    border: 1px solid $white;
    border-radius: 5px;
    margin-left: $s-size;
    font-size: $font-size-small;
}

.filters-btn {
    font-size: $font-size-small;
    margin-top: $m-size;
}

@media only screen and (min-width: 700px) {
    .fav-btn {
        margin: 0
    }
    .filters-btn {
        display: block;
        font-size: $font-size-small;
        margin: 0
    }
}