.navbar-item {
    color: $white;
    font-size: $font-size-small;
    text-decoration: none;
    margin-right: $s-size

}

@media only screen and (min-width: 700px) {
    .navbar-item {
        font-size: $font-size-medium;
        margin-right: $l-size
    }
}