.movie-cards-container {
    margin-top: $xl-size;
    display: grid;
    column-gap: 20px;
    row-gap: 25px;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.error {
    margin-top: $xl-size;
    text-align: center
}
