* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $dark;
    color:white;
}

.main-container {
    margin: 0 auto;
    padding: $l-size;
}

.text-center {
    text-align: center;
}

.flex {
    display:flex
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center
}


@media (min-width: 600px) {
    .main-container {
        max-width: 70%;
        margin: 0 auto;
        padding: $l-size;
    }
}