// Colors
$dark: #0A1014;
$grey: #1b2329;
$mid-grey: #353F4C;
$light-grey: #7a8c99;
$white: #fefefe;
$yellow: #FF9F1C;
$red: #FF4040;

// Font size
$font-size-small: 15px;
$font-size-medium: 20px; 
$font-size-large: 25px;

// Spacing
$s-size: 5px;
$m-size: 10px;
$l-size: 15px;
$xl-size: 20px;